.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-center-top {
    text-align: center;
    width: 100%;
}

.header-center-bottom {
    text-align: center;
    width: 100%;
}

.period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.3;
}

.period .line1 {
    display: block;
    font-weight: 600;
    font-size: 1.1em;
}

.period .line2 {
    display: block;
    font-size: 1em;
    color: #fbd38d;
}